:root {
  --background: theme(colors.white);
  --background-dim: theme(colors.neutral.100);
  --foreground: theme(colors.black);
  --foreground-dim: theme(colors.neutral.600);
  --border: theme(colors.neutral.200);
  --accent: theme(colors.neutral.100);
  --accent-2: theme(colors.neutral.300);
  --muted: theme(colors.neutral.500);
}

.dark {
  --background: theme(colors.neutral.900);
  --background-dim: theme(colors.neutral.800);
  --foreground: theme(colors.white);
  --foreground-dim: theme(colors.neutral.400);
  --border: theme(colors.neutral.700);
  --accent: theme(colors.neutral.800);
  --accent-2: theme(colors.neutral.700);
  --muted: theme(colors.neutral.500);
}

.link {
  color: var(--foreground);
  text-decoration: underline;
  text-decoration-color: var(--accent-2);
  text-underline-position: under;
  text-decoration-thickness: 1.5px;
  transition: all 0.3s;
}

.link:hover,
.link:focus {
  text-decoration-color: var(--muted);
  transition: all 0.3s;
}

