@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hocus (&:is(:hover, :focus-visible));
@custom-variant group-hocus (:is(.group:hover, .group:focus) &);

@theme inline {
  --breakpoint-xxxxs: 230px;
  --breakpoint-xxxs: 300px;
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 475px;

  --color-background: var(--background);
  --color-background-dim: var(--background-dim);
  --color-foreground: var(--foreground);
  --color-foreground-dim: var(--foreground-dim);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-2: var(--accent-2);
  --color-muted: var(--muted);

  --font-custom-serif: var(--font-platypi);
  --font-custom-mono: var(--font-jetbrains-mono);
  --font-custom-sans: var(--font-space-grotesk);
}

@layer base {
  :root {
    --background: var(--color-white);
    --background-dim: var(--color-neutral-100);
    --foreground: var(--color-black);
    --foreground-dim: var(--color-neutral-600);
    --border: var(--color-neutral-200);
    --accent: var(--color-orange-700);
    --accent-2: var(--color-neutral-300);
    --muted: var(--color-neutral-500);
  }

  .dark {
    --background: var(--color-neutral-900);
    --background-dim: var(--color-neutral-800);
    --foreground: var(--color-white);
    --foreground-dim: var(--color-neutral-400);
    --border: var(--color-neutral-700);
    --accent: var(--color-orange-300);
    --accent-2: var(--color-neutral-700);
    --muted: var(--color-neutral-500);
  }
}

@utility link {
  color: var(--accent);
  text-decoration: underline;
}

.mdx a:not(.anchor):not([data-footnote-ref]) {
  @apply link;
}
.link:hover,
.link:focus-visible,
.mdx a:not(.anchor):not([data-footnote-ref]):hover,
.mdx a:not(.anchor):not([data-footnote-ref]):focus-visible {
  text-decoration: none;
}

@counter-style star {
  system: cyclic;
  symbols: "✶";
  suffix: " ";
}

@counter-style hyphen {
  system: cyclic;
  symbols: "-";
  suffix: " ";
}

code {
  font-family: var(--font-custom-mono);
  font-size: 96%;
}
