<section>
  <h2 class="text-2xl semibold pb-4 text-foreground">about</h2>
  <p class="text-lg">
    hi, i'm tarik kirgin, a computer science student at the <a
      class="link external-link"
      href="https://www.leeds.ac.uk/"
      target="_blank">university of leeds</a
    >.
  </p>
</section>
