---
import IconLink from "../IconLink.astro";
---

<section>
  <div class="flex justify-center">
    <ul class="flex flex-col items-center xxs:flex-row gap-4 xxs:gap-8">
      <li>
        <IconLink
          icon="mdi:github"
          name="github"
          href="https://www.github.com/tarikkirgin"
        />
      </li>
      <li>
        <IconLink
          icon="mdi:linkedin"
          name="linkedin"
          href="https://www.linkedin.com/in/tarik-kirgin/"
        />
      </li>
      <li>
        <IconLink
          icon="mdi:email"
          name="email"
          href="mailto:mail@tarikkirgin.com"
        />
      </li>
    </ul>
  </div>
</section>
