---
import Project from "../Project.astro";
---

<section>
  <h2 class="text-2xl text-foreground semibold pb-6">projects</h2>
  <ul>
    <li>
      <Project
        name="Balatrodle"
        description="A wordle inspired guessing game based on the indie video game Balatro."
        href="https://www.balatrodle.com"
        icon="/projects/balatrodle.png"
        tags={["Next.js", "TypeScript", "Tailwind"]}
      />
    </li>
  </ul>
</section>
