---
import MainLayout from "~/layouts/MainLayout.astro";
import About from "~/components/sections/About.astro";
import Links from "~/components/sections/Links.astro";
import Projects from "~/components/sections/Projects.astro";
import Header from "~/components/Heading.astro";
---

<MainLayout>
  <Header heading="tarik kirgin" />
  <div class="text-foreground-dim pt-6">
    <About />
    <br />
    <Links />
    <br />
    <Projects />
    <br />
  </div>
</MainLayout>
