---
import { type CollectionEntry } from "astro:content";
import BlogCard from "./BlogCard.astro";

interface Props {
  blogs: CollectionEntry<"blog">[];
}

const { blogs } = Astro.props;
---

{
  blogs.length > 0 ? (
    <div>
      {blogs.map((blog) => (
        <BlogCard blog={blog} />
      ))}
    </div>
  ) : (
    <p class="text-muted">no blog posts yet :(</p>
  )
}
