---
import AnimatedLogo from "./AnimatedLogo.astro";
---

<nav class="">
  <div
    class="max-w-screen-xl
  flex
  flex-wrap
  items-center
  justify-between
  mx-auto
  p-4"
  >
    <a id="logo" href="/" class="flex">
      <AnimatedLogo />
    </a>
    <ul class="flex font-medium text-gray-500">
      <li>
        <a href="#" class="block py-2 px-3 hover:text-black">about</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 hover:text-black">projects</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 hover:text-black">blog</a>
      </li>
    </ul>
  </div>
</nav>
