---
import AnimatedLogo from "~/components/AnimatedLogo.astro";
import ThemeDropdown from "~/components/ThemeDropdown";
---

<nav class="">
  <div
    class="max-w-screen-xl
  flex
  flex-wrap
  items-center
  justify-between
  mx-auto"
  >
    <a id="logo" href="#" class="flex">
      <AnimatedLogo />
    </a>
    <ThemeDropdown client:load />
  </div>
</nav>
