---
import AnimatedLogo from "~/components/AnimatedLogo.astro";
import ThemeDropdownContainer from "~/components/theme/ThemeDropdownContainer.astro";
---

<nav>
  <div
    class="h-10
  max-w-screen-xl
  flex
  flex-col
  gap-5
  xxxxs:flex-row
  flex-wrap
  items-center
  justify-between
  mx-auto"
  >
    <a id="logo" href="/" class="flex" aria-label="Home">
      <AnimatedLogo />
    </a>
    <ThemeDropdownContainer />
  </div>
</nav>
