---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="inline-block text-xs bg-accent text-muted px-2 py-1 rounded-md ring-1 ring-border dark:ring-neutral-700"
>
  <div class="flex flex-row gap-1">
    <Icon name="mdi:tag-outline" class="w-4 h-4" />
    {title}
  </div>
</div>
