---
import { type CollectionEntry } from "astro:content";
import BlogCard from "~/components/blog/BlogCard.astro";

interface Props {
  blogs: CollectionEntry<"blog">[];
}

const { blogs } = Astro.props;
---

{
  blogs.length > 0 ? (
    <ul>
      {blogs.map((blog) => (
        <li>
          <BlogCard blog={blog} />
        </li>
      ))}
    </ul>
  ) : (
    <p class="text-muted">no blog posts yet :(</p>
  )
}
