---
import "~/styles/mdx.scss";

import MainLayout from "./MainLayout.astro";
import Heading from "~/components/Heading.astro";
import { type CollectionEntry } from "astro:content";
import { format } from "date-fns";

interface Props {
  blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;
const { title, date, author } = blog.data;

const formattedDate = format(date, "MMMM do, yyyy") ?? "";

const { Content } = await blog.render();
---

<MainLayout title={title}>
  <Heading heading={title} />
  <div class="flex flex-col gap-1 pt-2 pb-12 text-muted">
    <date class="">
      {formattedDate}
    </date>
    <p class="text-muted">
      by <a href="/" class="link">{author}</a>
    </p>
  </div>
  <article class="mdx"><Content /></article>
</MainLayout>
