---
import Navbar from "~/components/Navbar.astro";
import Head from "~/components/Head.astro";
---

<!doctype html>
<html lang="en">
  <Head title="tarik kirgin" />
  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"token": "a2ab3c749177479d965530d31b29ce65"}'></script>
  <body class="p-4 bg-white dark:bg-neutral-900">
    <header>
      <Navbar />
    </header>
    <slot />
    <style is:global>
      body {
        font-family: system-ui, sans-serif;
      }
    </style>
  </body>
</html>
