---
import "~/styles/globals.css";
import Navbar from "~/components/Navbar.astro";
import Head from "~/components/Head.astro";

interface Props {
  title?: string;
  description?: string;
  imagePath?: string;
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {...props} />
  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"token": "a2ab3c749177479d965530d31b29ce65"}'></script>
  <body class="p-4 bg-background text-foreground">
    <header>
      <Navbar />
    </header>
    <main class="max-w-screen-sm mx-auto pt-6 lg:pt-0">
      <slot />
    </main>
    <style is:global>
      body {
        font-family: system-ui, sans-serif;
      }
    </style>
  </body>
</html>
